<h1>All our flat</h1>

<div class="cards-display">
  <% @flats.each do |flat| %>
    <div class="card">
      <div class="card-content">
        <h2><%= flat.name %></h2>
        <p><%= flat.address %></p>
        <p><%= flat.number_of_guest %></p>
        <p><%= flat.price_per_night %></p>
      </div>
    <div class="flexy">
      <div class="btns yellow"><%= link_to 'More info', flat_path(flat) %></div>
      <div class="btns pink"><%= link_to 'Edit', edit_flat_path(flat) %></div>
      <div class="btns green"><%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Are you sure ?"} %></div>
    </div>
  </div>
  <% end %>
</div>

