<div class="backg-img">

</div>
<div id="flexing">
  <div class="main">
    <div class="flat-content">
      <h1><%= @flat.name %></h1>
      <p><%= @flat.address %></p>
    </div>
    <div class="flat-content">
      <p><%= @flat.description %></p>
    </div>
  </div>
  <div class="second">
    <div class="book">

    </div>
    <div class="details">
      <p><%= @flat.number_of_guest %></p>
      <p><%= @flat.price_per_night %></p>
    </div>
    <div class="share-links">

    </div>
  </div>
</div>
