<div class="flexy">
  <div>
    <h1>Articles list</h1>
  </div>
  <div class="btn">
    <i class="fas fa-plus"></i><%= link_to " Add a new article", new_article_path %>
  </div>
</div>

<% @articles.each do |article| %>
  <%= link_to article_path(article) do %>
  <div class="card">
    <div>
      <h2> <%= article.title %> </h2>
      <p> <%= article.content.truncate_words(70) %></p>
    </div>
      <div class="time">
      <p> <%= time_ago_in_words(article.created_at ) %></p>
    </div>
  </div>
  <% end %>
<% end %>




